<div class="task {{'complete' if task.is_complete else ''}}">
  <p class="title">
    <b>{{ task.title }}</b>
  </p>

  <div class="buttons-wrapper">
    <form action="/toggle/{{task.id}}" method="POST">
      <button class="button {{'' if task.is_complete else 'accent-button'}}">
        {{ "Mark as incomplete" if task.is_complete else "Mark as complete" }}
      </button>
    </form>

    <a href="/edit/{{task.id}}" class="button" role="button">✏️</a>

    <form action="/delete/{{task.id}}" method="POST">
      <button class="button">🗑️</button>
    </form>
  </div>
</div>

<style>
  .task {
    margin-bottom: 1.5rem;
  }

  .task .title {
    margin-bottom: 0.5rem;
  }

  .task.complete .title {
    text-decoration: line-through;
    color: #9d9d9d;
  }

  .buttons-wrapper {
    display: flex;
    gap: 0.5rem;
  }

  .buttons-wrapper *:first-child {
    margin-right: auto;
  }

  .buttons-wrapper form button {
    height: 100%;
  }
</style>
